<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="bachelorDegree">
      <h2 data-cy="bachelorDegreeDetailsHeading"><span jhiTranslate="h1BApp.bachelorDegree.detail.title">Bachelor Degree</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ bachelorDegree.id }}</span>
        </dd>
        <dt><span jhiTranslate="h1BApp.bachelorDegree.course">Course</span></dt>
        <dd>
          <span>{{ bachelorDegree.course }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/bachelor-degree', bachelorDegree.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
